<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - {{ nav[rgn] }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">{{ title }}</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% for item in nav -%}
                    <li class="nav-item {% if rgn == item -%}active{% else -%} {% endif -%}">
                        <a class="nav-link"
                           href="{{ url_for('departures', departure=item) }}">{{ nav[item] }}</a>
                    </li>
                {% endfor -%}
            </ul>
        </div>
    </nav>
</header>
<main class="container mt-3">
    <h1 class="display-5 mt-4">Летим Из Москвы</h1>
    <p class="mb-4">Найдено {{ temp[0] }} туров, от {{ temp[1] }} до {{ temp[2] }} и от {{ temp[3] }} ночей
        до {{ temp[4] }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
        {% for item in data -%}
            {% if data[item]['departure'] == rgn -%}
                <div class="col-4">
                    <div class="card mb-4">
                        <div class="embed-responsive embed-responsive-16by9">
                            <img class="card-img-top embed-responsive-item" src="{{ data[item]['picture'] }}" alt=""/>
                        </div>
                        <div class="card-body">
                            <h2 class="h5 card-title">{{ data[item]['title'] }}</h2>
                            <p class="card-text">{{ data[item]['description'][:201:] }}...</p>
                            <a href="/tour/{{ item }}" class="btn btn-sm btn-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endif -%}
        {% endfor -%}
    </div>
</main>
</body>
</html>