<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{{ title }} - {{ data['title'] }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<header class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">{{ title }}</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% for item in nav -%}
                    <li class="nav-item {% if rgn == item -%}active{% else -%} {% endif -%}">
                        <a class="nav-link"
                           href="{{ url_for('departures', departure=item) }}">{{ nav[item] }}</a>
                    </li>
                {% endfor -%}
            </ul>
        </div>
    </nav>
</header>
<main class="container">
    <section class="mt-3 pb-5">
        <h1 class="display-3 mt-4">{{ data['title'] }} {{ '★' * data['stars'] | int }}</h1>
        <!-- HERO -->
        <p class="lead">{{ data['country'] }} {{ nav[data["departure"]] }} {{ data['nights'] }} ночей</p>
        <img src="{{ data['picture'] }}" class="w-75" alt="">
        <p class="my-4 w-75">{{ data['description'] }}</p>
        <a href="/" class="btn btn-success btn-lg">Купить тур за {{ data['price'] }}</a>
    </section>
</main>
</body>
</html>